.header {
    height: var(--header-height);
    background-color: var(--white-color);
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 300px;
    height: var(--header-height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: var(--header-height); */
    position: relative;
    left: -50px;
}

/* Login */
.header__action {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.header__signin {
    width: 120px;
    height: 30px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    border-right: 1px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--sub-color);
}

.header__signin:hover ,
.header__login:hover {
    opacity: 0.7;;
}
  
.header__login {
    width: 160px;
    height: 30px;
    font-size: 3rem;
    margin-left: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--sub-color);
}

/* Sign out */


/* Navbar */


.header__navbar-list {
    list-style: none;
    display: flex;
    height: var(--header-height);
    align-items: center;
}

.header__navbar-item {
    padding: 0 32px;
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.header__user {
    position: relative;
}

.header__user:hover .header__user-menu{
    display: block;
}

.header__user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 148%;
    right: -20px;
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    background-color: var(--white-color);
    list-style: none;
    display: none;
}

.header__user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 64%;
    height: 10px;
}

.header__user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-icon {
    font-size: 4.8rem;
    font-weight:300;
}


/* Cart */

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    /* -webkit-tap-highlight-color: transparent; */
}


.header__cart-icon {
    font-size: 2.4rem;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9.5px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 38vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__cart-view-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 12px 12px 12px 0;
    max-width: 100%;
    width: 140px;
    height: 24px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 2px;
    font-size: 1.4rem;
}

.header__cart-view-cart:hover {
    background-color: var(--sub-color);
    color: var(--white-color);
}


.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: -30px;
    border-width: 16px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-no-cart-img{
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

/* App content */
.app {
    background-color: #f5f5f5;
}

.app__content {
    /* margin-top: 32px; */
}

/* Category */
.category {
    width: 100%;
    height: 250px;
    background-color: #A4AAFF;
    /* border-radius: 5px; */
}

.category__title {
    padding: 12px 0;
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.category__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
        /* padding-bottom: 32px; */
    text-decoration: none;
    margin-top: 16px;
    background-color: transparent;
    border: none;
    height: 180px;
}

.category__item-link h4 {
    font-size: 2.4rem;
    color: #000;
    margin-top: 24px;
}

.category__item-img {
    height: 130px;
    width: 130px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: #eee9ca;
}

/* Search */
.search {
    background-color: #96B9F2;
    height: 56px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 16px;
}

.search__wrap {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 56px;
}


.search__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.search__sort h3 {
    margin-left: 16px;
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.7;
}

/* Search bar */

.search-bar__input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
}

.search-bar__input {
    width: 90%;
    height: 34px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 25px;
}

.search-bar__btn {
    background-color: transparent;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    position: absolute;
    right: 8%;
}

.search-bar__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.search-bar__btn-icon {
    font-size: 1.4rem;
    color: var(--black-color);
}


/* Products */
.products {
    margin-bottom: 80px;
}

.products .row {
    margin-left: -26px;
    margin-right: -26px;
}

.products__header {
    margin-left: 20px;
}

.product__title-wrap {
    padding: 12px 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product__title {
    font-family: 'Coiny', cursive;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.1;
    color: var(--primary-color);
}


.products-item {
    /* height: 420px; */
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: #D5E2F8;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    margin-bottom: 24px;
}

.products-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.product-item__img {
    width: 100%;
    height: 282px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .product-item__img:hover .product-item__img::before {
    opacity: 1;
}

.product-item__img::before {
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 32%;
    right: 0;
    content: "";
    /* transition: all 0.3s ease-out 0s; */
    /* -webkit-transition: all 0.3s ease-out 0s;
} */

.products-item__title {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 4rem;
    height: 4rem;
    font-family: 'Coiny', cursive;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-color);
    /* white-space: nowrap; */
    margin-top: 16px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.products-item__title:hover {
    color: var(--sub-color);
}

.products-item__price-add-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4px;
}

.products-item__price {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: var(--sub-color);
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 16px;
}

.products-item__btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 6px;
    outline: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.products-item__btn:hover {
    background-color: #577cb7;
    cursor: pointer;
}

.products-item__btn-icon {
    color: var(--white-color);
    font-size: 2rem;
}

/* More button */
.more__btn-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 28px;
}

.more__btn {
    max-width: 300px;
    width: 180px;
    height: 30px;
    font-size: 1.7rem;
    font-weight: 400;
    background-color: #D9D9D9;
    border: none;
    border-radius: 2px;
}

.more__btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Footer */
.footer {
    border-top: 20px solid var(--black-color);
    padding-top: 16px;
    background-color: #D5E2F8;
    max-height: 220px;
    overflow: hidden;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin: 16px 0;
}

.footer__phone,
.footer__gmail {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.footer__phone-text,
.footer__gmail-text {
    font-size: 1.7rem;
    font-weight: 700;
}

.footer-list__socials {
    padding-left: 0;
    list-style: none;
    display: flex;
    
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 10px 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--sub-color);
}

.footer-item__icon {
    font-size: 2.4rem;
    margin: -1px 8px 0 0;
}

.footer__logo {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: var(--header-height); */
    position: relative;
    left: -61px;
    bottom: 44px;
}